<ion-header>
  <ion-toolbar>
    <ion-title>letra-credito</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item-divider>
    <ion-label color="primary">
      <h1>LCI e LCA</h1>
    </ion-label>
  </ion-item-divider>
  <ion-item lines="none">
    <ion-label text-wrap>
      <p>A LCI (Letra de Crédito Imobiliário) é um título de renda fixa emitido por um banco e lastreado por empréstimos imobiliários e a LCA (Letra de Crédito do Agronegócio) são títulos emitidos por bancos garantidos por empréstimos concedidos ao setor de agronegócio. São dois tipos de investimento em renda fixa isentos de Imposto de Renda que costumam garantir retornos bem superior ao da caderneta de poupança. Do ponto de vista do investidor, não faz muita diferença investir em LCI ou LCA – geralmente é melhor optar pelo papel mais rentável.</p>
    </ion-label>
  </ion-item>

  <ion-item-divider>
    <ion-label color="primary">
      <h3>Custos</h3>
    </ion-label>
  </ion-item-divider>
  <ion-item lines="none">
    <ion-label text-wrap>
      <p>Pode ou não haver cobrança de taxa de custódia, mas muitas corretoras não vão cobrar nada se você também já investir em ações por intermédio da instituição. O título é isento de Imposto de Renda para pessoas físicas, assim como a caderneta de poupança.</p>
    </ion-label>
  </ion-item>

  <ion-item-divider>
    <ion-label color="primary">
      <h3>Risco</h3>
    </ion-label>
  </ion-item-divider>
  <ion-item lines="none">
    <ion-label text-wrap>
      <p>Um dos principais riscos do CDB é o de crédito, ou seja, de a instituição bancária “quebrar” e ficar sem recursos para pagar o valor aplicado ao investidor. Entretanto, esse tipo de aplicação é garantido pelo FGC (Fundo Garantidor de Crédito) até o limite de R$ 250 mil. Ou seja, para aplicações de até este valor, o investidor pode aplicar sem grandes receios.</p>
    </ion-label>
  </ion-item>  
</ion-content>
