<ion-header>
  <ion-toolbar>
    <ion-title>fixa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item-divider>
    <ion-label color="primary">
      <h1>Renda Fixa</h1>
    </ion-label>
  </ion-item-divider>
  <ion-item lines="none">
    <ion-label text-wrap>
      <p>É termo utilizado para todos investimentos que existe regras para remuneração definidas no momento da aplicação dos títulos. É uma espécie de empréstimo que você concede a uma instituição em troca de juros.</p>
    </ion-label>
  </ion-item>

  <ion-item-divider>
    <ion-label color="primary">
      <h3>Tipos de Títulos</h3>
    </ion-label>
  </ion-item-divider>

  <ion-list>
    <ion-item>
      <div class="item-note">
        CDB
      </div>
    </ion-item>
    <ion-item>
      <div class="item-note">
        LCI
      </div>
    </ion-item>
    <ion-item>
      <div class="item-note">
        LCA
      </div>
    </ion-item>
    <ion-item>
      <div class="item-note">
        CRI
      </div>
    </ion-item>
    <ion-item>
      <div class="item-note">
        CRA
      </div>
    </ion-item>
    <ion-item>
      <div class="item-note">
        Remunerações
      </div>
    </ion-item>
  </ion-list>

  <ion-item lines="none">
    <ion-label text-wrap>
      <p>Existe 3 formas de remuneração para se escolher ao aplicar nos títulos, escolha conforme sua necessidade.</p>
    </ion-label>
  </ion-item>

  <ion-item-divider>
    <ion-label color="primary">
      <h3>Indexada a Inflação</h3>
    </ion-label>
  </ion-item-divider>
  <ion-item lines="none">
    <ion-label text-wrap>
      <p>Quando o título tem a rentabilidade indexada a um índice referente à inflação, como IPCA ou IGPM, significa que o valor final que você vai receber é prefixado e, ao mesmo tempo, pós-fixado. Assim, uma parte é variável, de acordo com o índice, e a outra parte é fixa, ou seja, você conhece no momento da aplicação quanto vai ganhar acima da inflação.</p>
    </ion-label>
  </ion-item>
  <ion-item-divider>
    <ion-label color="primary">
      <h5>Exemplo</h5>
    </ion-label>
  </ion-item-divider>
  <ion-item lines="none">
    <ion-label text-wrap>
      <p>CDB IPCA (Índice da inflação que vai indicar a parte variável da rentabilidade) + 5 (parte fixa da rentabilidade, isto é, os juros reais que você recebe além da parte variável)</p>
    </ion-label>
  </ion-item>
  
  <ion-item-divider>
    <ion-label color="primary">
      <h3>Pós Fixada</h3>
    </ion-label>
  </ion-item-divider>
  <ion-item lines="none">
    <ion-label text-wrap>
      <p>Você conhece o valor que vai receber pelo título na data do vencimento. Atrelada a um percentual de um indicador, comumente do CDI. Você sabe que, ao final do prazo predeterminado, será pago o valor que você investiu mais um percentual do CDI, que foi pré-acordo no momento da compra do título.</p>
    </ion-label>
  </ion-item>
  <ion-item-divider>
    <ion-label color="primary">
      <h5>Exemplo</h5>
    </ion-label>
  </ion-item-divider>
  <ion-item lines="none">
    <ion-label text-wrap>
      <p>CDB com prazo de dois anos e taxa de 110% do CDI Ao final de dois anos você receberá o valor investido + 100% do CDI no vencimento.</p>
    </ion-label>
  </ion-item>
  
  <ion-item-divider>
    <ion-label color="primary">
      <h3>Prefixado</h3>
    </ion-label>
  </ion-item-divider>
  <ion-item lines="none">
    <ion-label text-wrap>
      <p>Você conhece o valor que vai receber no momento da compra. LC com prazo de dois anos e taxa de 13% ao ano. Significa que, a cada ano do seu investimento, você receberá 13% do valor investido.</p>
    </ion-label>
  </ion-item>
  <ion-item-divider>
    <ion-label color="primary">
      <h5>Exemplo</h5>
    </ion-label>
  </ion-item-divider>
  <ion-item lines="none">
    <ion-label text-wrap>
      <p>Investindo R$ 100 reais em um título com taxa de 10% ao ano, o seu título renderá 10% de R$ 100 reais no primeiro ano, ou seja R$ 110 reais.</p>
    </ion-label>
  </ion-item>
</ion-content>
