<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Tesouro Direto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item-divider>
    <ion-label color="primary">
      <h1>O que é o Tesouro Direto?</h1>
    </ion-label>
  </ion-item-divider>
  <ion-item lines="none">
    <ion-label text-wrap>
      <p>O Tesouro Direto é um programa de negociação de títulos públicos a pessoas físicas por meio da internet. Para o pequeno investidor, o Tesouro Direto é onsiderado ma opção de investimento de baixo custo e segura, já que os títulos públicos são considerados os ativos com menor risco em uma economia.</p>
    </ion-label>
  </ion-item>

  <ion-item-divider>
    <ion-label color="primary">
      <h3>Tesouro Prefixado (LTN)</h3>
    </ion-label>
  </ion-item-divider>
  <ion-item lines="none">
    <ion-label text-wrap>
      <p>Você sabe exatamente a rentabilidade que irá receber se mantiver o título até a data de vencimento. Esses títulos são indicados se você acredita que a taxa refixada será maior que a taxa de juros básica da economia (Selic).</p>
      <p>Por terem rentabilidade predefinida, seu rendimento é nominal. Isso significa que é necessário descontar a inflação para obter o rendimento real da aplicação.</p>
    </ion-label>
  </ion-item>

  <ion-item-divider>
    <ion-label color="primary">
      <h3>Tesouro Selic (LFT)</h3>
    </ion-label>
  </ion-item-divider>
  <ion-item lines="none">
    <ion-label text-wrap>
      <p>Ao investir em um título Tesouro Selic, o investidor não sabe exatamente qual será a sua rentabilidade no final do período. Isto porque ela vai depender da variação da taxa básica de juros. Se a Selic subir, a tendência é que a remuneração seja maior, e vice-versa. Por isso, este título é mais indicado em caso de expectativa de que a taxa de juros suba ou permaneça em um patamar elevado – assim, a remuneração também será mais atrativa. Para investidores que não acompanham o mercado e podem precisar resgatar o dinheiro a qualquer momento, esse também é o título mais indicado.</p>
    </ion-label>
  </ion-item>

  <ion-item-divider>
    <ion-label color="primary">
      <h3>Tesouro IPCA + (NTN-B)</h3>
    </ion-label>
  </ion-item-divider>
  <ion-item lines="none">
    <ion-label text-wrap>
      <p>Assim como no caso do Tesouro Selic, o investidor que compra um título Tesouro IPCA + não sabe exatamente qual será a sua remuneração no final do período de validade do título, já que a rentabilidade é baseada no IPCA, um índice de inflação que flutua todos os meses. Este título é indicado para quando existe a expectativa de que a inflação aumente, assim o investidor não só protege seu patrimônio como ainda pode ganhar poder aquisitivo.</p>
    </ion-label>
  </ion-item>

  <ion-item-divider>
    <ion-label color="primary">
      <h3>Custos</h3>
    </ion-label>
  </ion-item-divider>
  <ion-item lines="none">
    <ion-label text-wrap>
      <p>Cobrada pela BM&FBovespa sobre o valor dos títulos, referente aos serviços de guarda dos títulos e às informações e movimentações dos saldos. A taxa é cobrada semestralmente e representa o equivalente a 0,3% ao ano.</p>
    </ion-label>
  </ion-item>

  <ion-item-divider>
    <ion-label color="primary">
      <h3>Risco</h3>
    </ion-label>
  </ion-item-divider>
  <ion-item lines="none">
    <ion-label text-wrap>
      <p>Os títulos emitidos pelo governo são considerados os ativos mais seguros do mercado, é mais fácil uma empresa privada quebrar do que um pais.</p>
    </ion-label>
  </ion-item>  
</ion-content>
