<ion-header>
  <ion-toolbar>
    <ion-title>variavel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item-divider>
    <ion-label color="primary">
      <h1>Renda Variável</h1>
    </ion-label>
  </ion-item-divider>
  <ion-item lines="none">
    <ion-label text-wrap>
      <p>Renda variável é um tipo de investimento no qual não é possível definir o quanto seu dinheiro vai render em determinado período. Por esse motivo, costumam ser aplicações de maior risco, mas, por outro lado, o rendimento pode ser muito maior e em um espaço de tempo mais curto.</p>
    </ion-label>
  </ion-item>

  <ion-item-divider>
    <ion-label color="primary">
      <h3>Produtos</h3>
    </ion-label>
  </ion-item-divider>
  <ion-list>
    <ion-item>
      <div class="item-note">
        Ações
      </div>
    </ion-item>
    <ion-item>
      <div class="item-note">
        Fundo de Investimentos Imobiliário
      </div>
    </ion-item>
    <ion-item>
      <div class="item-note">
        Fundos de Investimentos Ações
      </div>
    </ion-item>
  </ion-list>

  <ion-item-divider>
    <ion-label color="primary">
      <h3>Vantagens da Renda Variável</h3>
    </ion-label>
  </ion-item-divider>
  <ion-item lines="none">
    <ion-label text-wrap>
      <p>Investir em renda variável é uma forma de potencializar seus lucros, além de taxas pré-determinados. Os ganhos podem ser altíssimos e em prazos curtos na mesma proporção em que as perdas podem ser irreparáveis. O risco é exatamente esse, os seus lucros.</p>
      <p>Você pode optar por fundo de ações, onde você conta com especialistas para fazer a gestão da carteira do fundo. As equipes de gestores acompanham e analisam o mercado diariamente em busca das melhores oportunidades.</p>
    </ion-label>
  </ion-item>  
</ion-content>
