<ion-header>
  <ion-toolbar>
    <ion-title>cdb</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item-divider>
    <ion-label color="primary">
      <h1>O que é CDB?</h1>
    </ion-label>
  </ion-item-divider>
  <ion-item lines="none">
    <ion-label text-wrap>
      <p>O CDB (certificado de depósito bancário) é um título que os bancos emitem para se capitalizar - ou seja, conseguir dinheiro para financiar suas atividades de crédito. Portanto, ao adquirir um CDB, o investidor está efetuando uma espécie de “empréstimo” para a instituição bancária em troca de uma rentabilidade diária.</p>
      <p>Existem três tipos principais de CDB: o prefixado, o pós-fixado e os que pagam juros mais um índice de inflação. No primeiro, o investidor negocia com o banco ma taxa predefinida e, durante a vigência daquele título, receberá sempre a remuneração que foi acordada.</p>
    </ion-label>
  </ion-item>

  <ion-item-divider>
    <ion-label color="primary">
      <h3>Custos</h3>
    </ion-label>
  </ion-item-divider>
  <ion-item lines="none">
    <ion-label text-wrap>
      <p>Existem três tipos principais de CDB: o prefixado, o pós-fixado e os que pagam juros mais um índice de inflação. No primeiro, o investidor negocia com o banco uma taxa predefinida e, durante a vigência daquele título, receberá sempre a remuneração que foi acordada.</p>
    </ion-label>
  </ion-item>

  <ion-list>
    <ion-item>
      <div class="item-note">
        A alíquota é de 22,5% do lucro para investimentos de até 180 dias;
      </div>
    </ion-item>
    <ion-item>
      <div class="item-note">
        20% para 181 a 360 dias;
      </div>
    </ion-item>
    <ion-item>
      <div class="item-note">
        17,5% para 361 a 720 dias;
      </div>
    </ion-item>
    <ion-item>
      <div class="item-note">
        15% para investimentos de 721 dias ou mais;
      </div>
    </ion-item>
  </ion-list>

  <ion-item-divider>
    <ion-label color="primary">
      <h3>Risco</h3>
    </ion-label>
  </ion-item-divider>
  <ion-item lines="none">
    <ion-label text-wrap>
      <p>Um dos principais riscos do CDB é o de crédito, ou seja, de a instituição bancária “quebrar” e ficar sem recursos para pagar o valor aplicado ao investidor. Entretanto, esse tipo de aplicação é garantido pelo FGC (Fundo Garantidor de Crédito) até o limite de R$ 250 mil. Ou seja, para aplicações de até este valor, o investidor pode aplicar sem grandes receios.</p>
    </ion-label>
  </ion-item>  
</ion-content>
